.all-cart {
    display: flex;
    flex-direction: row;
 
  
   
}
.carty {
    width: 70%;
}
.sidy {
    background-color: aqua;
    width: 30%;
}
.side-menu {
    background-color: aqua;
}
.troll-two {
    display: flex;
    padding: 8px;
    margin: 10px 5px;
    background-color: white;
   
    border: 0.4px solid rgba(0, 0, 0, 0.4);
    
}

.troll-two img {
    width: 80%;
    height: 150px;
}

.troll-price p {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}
.whishlist {
    display: flex;
}
.whishlist span {
    font-size: 1rem;
    margin-right: 10px;
    color: #d42114;
}
.troll-description a{
    color: black;
}